# =================================================
# 1. DADOS SENSÍVEIS (SEGURANÇA DA SQUAD)
# =================================================
# Bloqueia a pasta onde vocês colocarão os arquivos da Claro
data/
# Bloqueia arquivos de dados soltos (caso alguém esqueça fora da pasta)
*.csv
*.xlsx
*.parquet
*.json
*.zip
*.rar
*.log

# =================================================
# 2. CREDENCIAIS E NUVEM (AWS/ENGINEERING)
# =================================================
.env
*.pem
aws_config/
.aws/
credentials*

# =================================================
# 3. PYTHON E EXPERIMENTAÇÃO (CIÊNCIA DE DADOS)
# =================================================
__pycache__/
venv/
.venv/
.ipynb_checkpoints/
*.py[cod]

# =================================================
# 4. SISTEMA (LIXO DIGITAL)
# =================================================
.DS_Store
Thumbs.db


output/
logs/